<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BROCHURE ESTIAM GROUPE 6</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="https://www.estiam.education/wp-content/uploads/2020/06/cropped-fav-32x32.png" sizes="32x32">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

	  <img width="120px" src="/img/logo.svg" alt="" class="img-fluid"/>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Alternance</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Programmes</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Tarifs</a></li>
          <li class="dropdown"><a href="#"><span>SOMMAIRE</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Bienvenue !</a></li>
              <li class="dropdown"><a href="#"><span>Membres G6</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">LACHACHI	Yasmine Nafissa				</a></li>
                  <li><a href="#">RABEMANANTSOA	Cynthia Zoely Nirina 				</a></li>
                  <li><a href="#">TOURE	Sadio				</a></li>
                  <li><a href="#">EL YEBDRI	Sabrina				</a></li>
				  <li><a href="#">DECHASSE	Elie Denis				</a></li>
                  <li><a href="#">DASSI KUETI	Manuel</a></li>
                </ul>
              </li>
              <li><a href="#about">Pourquoi étudier à Éstiam ?</a></li>
              <li><a href="#testimonials">Ils ont choisi Éstiam</a></li>
              <li><a href="#">Comité d’orientation stratégique et scientifique</a></li>
              <li><a href="#">Entreprises partenaires</a></li>
              <li><a href="#">Employeurs de nos étudiants</a></li>
              <li><a href="#">Schéma des études</a></li>
              <li><a href="#">Cursus métier et spécialisations</a></li>
              <li><a href="#">Les Campus Éstiam en France</a></li>
              <li><a href="#">Emplois, Stages, Alternance, une aide active</a></li>
              <li><a href="#">Quel budget pour étudier a l’Éstiam ?</a></li>
              <li><a href="#">Déposer ma candidature à l’Éstiam</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>ESTIAM </h1>
      <h2>École supérieure des technologies de l’information appliquées aux métiers</h2>
	  <a href="#about" class="btn-get-started scrollto">Bienvenue à l’Éstiam !</a>
      <img src="/img/hero-img.png" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>Pourquoi étudier à Éstiam ?</h3>
              <p>
				Apprendre, Faire, Comprendre. <br>
                Éstiam, une démarche pédagogique structurante avec un réel encadrement.Un parcours de formation alliant pragmatisme, modernité et qualité :
			  </p>
              <a href="#" class="about-btn">About us <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch" data-aos="fade-left">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>La formation</h4>
                  <p>une formation complète qui développe
					non seulement une expertise technologique,
					mais aussi comportement professionnel,
					managérial, leadership et sens de l’entreprise</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>L'encadrement</h4>
                  <p>Des étudiants fortement encadrés
					par leurs professeurs tous issus
					du monde de l’entreprise</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>La professionnalisation</h4>
                  <p>un programme en parfaite adéquation
					avec le marché de l’emploi</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Emploi</h4>
                  <p>une immersion professionnelle progressive</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-7.png" class="img-fluid" alt="">
          </div>
		  
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-8.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

	
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
		<div class="container" data-aos="fade-up">
  
		  <div class="section-title">
			<h2>Ils ont choisi Éstiam</h2>
			<p>Quelques témoignages de nos étudiants.</p>
		  </div>
  
		  <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
			<div class="swiper-wrapper">
  
			  <div class="swiper-slide">
				<div class="testimonial-item">
				  <p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					Après ma licence pro à l’INA j’ai été embauché par Aski-Da où je suis depuis maintenant 4 ans. Mon entreprise m’a permis de reprendre mes études et c’est Éstiam qui a retenu mon attention, car c’est la seule à me permettre de m’accomplir dans divers univers comme ceux du développement informatique, de la télévision, du Big Data... qui sont tous intéressants et cohérents les uns avec les autres.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
				  </p>
				  <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
				  <h3>Florian, </h3>
				  <h4>Alumnus Éstiam ayant fait son alternance chez Woody Technologies, Groupe Aski&amp; -Da </h4>
				</div>
			  </div><!-- End testimonial item -->
  
			  <div class="swiper-slide">
				<div class="testimonial-item">
				  <p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					J’aime vraiment voir ce que je fais et pourquoi je le fais, et c’est ce que propose vraiment cette école. Tu peux apprendre quelque chose et tout de suite après tu vois ce que ça fait dans des cas concrets.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
				  </p>
				  <img src="/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
				  <h3>Alexandre</h3>
				  <h4>Étudiant Éstiam de 2e année</h4>
				</div>
			  </div><!-- End testimonial item -->
  
			  <div class="swiper-slide">
				<div class="testimonial-item">
				  <p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					C ’est une école qui fait le lien entre la théorie et la pratique en entreprise. Les formateurs sont des professionnels ce qui nous permet d’adapter notre comportement aux circonstances.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
				  </p>
				  <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
				  <h3>Éric</h3>
				  <h4>étudiant en 4e année Éstiam au sein
					du cursus Big Data, en alternance chez
					42 Consulting après un doctorat en informatique
					spécialité analyse de données en Corée du Sud.</h4>
				</div>
			  </div><!-- End testimonial item -->
  
			  <div class="swiper-slide">
				<div class="testimonial-item">
				  <p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					De plus, j’ai été séduit par les projets tels que les traitements de données pour AccorHotels Arena qui ont été réalisés auparavant à Éstiam. L’idée du Bootcamp d’une durée de deux mois m’a séduit. Il permet de faire une remise à niveau pour tous les étudiants, de consolider ses acquis, mais également d’apprendre toujours plus. À Éstiam, on se sent comme chez soi, il y a une excellente cohésion entre les étudiants et les membres de l’équipe notamment les directeurs et l’administration.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
				  </p>
				  <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
				  <h3>Éric</h3>
				  <h4>étudiant en 4e année Éstiam au sein
					du cursus Big Data, en alternance chez
					42 Consulting après un doctorat en informatique
					spécialité analyse de données en Corée du Sud.</h4>
				</div>
			  </div><!-- End testimonial item -->
  
			  <div class="swiper-slide">
				<div class="testimonial-item">
				  <p>
					<i class="bx bxs-quote-alt-left quote-icon-left"></i>
					La recherche d’un contrat en alternance m’a beaucoup stressée, car en octobre je n’avais toujours pas pu finaliser un contrat d’alternance et je commençais à me demander si j’aurai les moyens financiers de poursuivre mes études. J’avais bien eu des entretiens qui s’étaient plutôt bien passés, mais pas de proposition concrète. J’étais prête à abandonner quand le lendemain j’ai reçu non pas une, mais deux offres d’embauche en alternance à quelques minutes d’intervalle ! 42 Consulting et une start-up, toutes les deux trouvées par Éstiam, me proposaient en même temps de me recruter. J’ai choisi 42 Consulting car le poste proposé était dans le Big Data, ce qui me correspondait mieux.
					<i class="bx bxs-quote-alt-right quote-icon-right"></i>
				  </p>
				  <img src="/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
				  <h3>Aminata</h3>
				  <h4>Étudiante en 4e année Éstiam au sein du
					cursus Big Data, en alternance chez 42 Consulting. <br></h4>
				</div>
			  </div><!-- End testimonial item -->
  
			</div>
			<div class="swiper-pagination"></div>
		  </div>
  
		</div>
	  </section><!-- End Testimonials Section -->
  
    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>L’informatique : leader de l’emploi</h2>
          <p>Le numérique offre de nombreux métiers pour des carrières gratifiantes.</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
            <img src="/img/features-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
            <h3>Le numérique, le secteur le plus dynamique pour l’emploi des jeunes.</h3>
            <p class="fst-italic">
				Avec 266 400 cadres recrutés en
				2018, le secteur informatique
				constitue le premier secteur
				créateur d’emploi. Les cadres
				informaticiens de moins de 5 ans
				d’expérience seraient la cible
				privilégiée des recruteurs pour 2019 <br>
				leur proportion dans les
				recrutements des entreprises
				informatiques serait la plus élevée
				tous secteurs d’activités confondus.
				Ces prévisions concordent avec ■
				les recrutements réalisés en 2018,
				où les profils de cadres débutants et
				de cadres de 1 à 5 ans d’expérience
				représentaient effectivement 60%
				des recrutements.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> en informatique, les rémunérations des jeunes sont plus élevées que dans tous les autres secteurs.</li>
              <li><i class="bi bi-check"></i>Les recruteurs des entrerises des activité en informatique priviligient le recrutement de jeunes cadres de 1 à 5 ans d’expérience et de jeunes diplomés ayant au moins un an d’experience (respectivement 33% et 27% des recrutements). S’agissant des cadres débutants.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/img/features-2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>L’avis des recruteurs : difficile pour eux de trouver les bons profils</h3>
            <p class="fst-italic">
				73% de recrutements jugés
				difficiles : tous secteurs confondus,
				c’est sur la fonction informatique
				que les recruteurs ont le plus de
				difficultés à recruter.
            </p>
            <p>
				Des jeunes diplômés en recherche d’emploi qui ont des difficultés à transposer leurs compétences scolaires en compétences
				professionnelles. <br> Un nombre insuffisant de jeunes
				diplômés : avec 29 CV seulement
				par annonce, c’est en informatique
				que les candidatures sont les
				moins nombreuses.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/img/features-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Pour exercer quels métiers ?</h3>
            <p>Le numérique offre de nombreux métiers pour des carrières gratifiantes.</p>
            <p class="fst-italic">
				Ces opportunités sont démultipliées, car le numérique concerne désormais tous les domaines : santé, luxe, automobile, finance, sport... tous les secteurs emploient des professionnels du numérique.
			</p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/img/features-4.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Estiam item</h3>
            <p class="fst-italic">
				longtext
            </p>
            <p>
              more longest text
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Steps Section ======= -->
    <section id="steps" class="steps">
      <div class="container">

        <div class="section-title">
			<h2>Exemples de métiers à la sortie d’Éstiam</h2>
		</div>
        <div class="row no-gutters" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <span>01</span>
            <h4>Directeur des systèmes d’information</h4>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <span>02</span>
            <h4>Ingénieur développement logiciel</h4>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>03</span>
            <h4> Architecte de système d’information</h4>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <span>04</span>
            <h4>Chef de projet technique</h4>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <span>05</span>
            <h4>Data Analyst</h4>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>06</span>
            <h4>Architecte réseau</h4>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>07</span>
            <h4>Chef de projet technique Big Data</h4>
          </div>
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>08</span>
            <h4>Ingénieur système d’information</h4>
          </div>
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>09</span>
            <h4>Administrateur de bases de données</h4>
          </div>
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>10</span>
            <h4>Ingénieur cloud et virtualisation</h4>
          </div>
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>11</span>
            <h4>Consultant informatique décisionnelle</h4>
          </div>
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>12</span>
            <h4>Data Scientist</h4>
          </div>
        </div>

      </div>
    </section><!-- End Steps Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Schéma des études</h2>
          <p>les étapes d’une scolarité évolutive.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">1 année BASES ET EFFICACITÉ TECHNIQUE</a></h4>
              <p class="description">Fondamentaux de la programmation
				Programmation Web (HTML, CSS)
				JavaScript, PHP
				Programmation orientée Objet
				Algorithmique et structures de données, langage C
				Introduction à la programmation de jeux vidéo</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">2 e année EXPERTISE</a></h4>
              <p class="description">Administration OS Serveurs – Windows
				Administration OS Clients – Linux
				Administration serveurs – Services réseaux et sécurité
				Commutation et Réseaux WLAN, VLANs, VoIP
				Technologies WAN, NAT, DHCP et IPv6, VPN, QoS</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">3 e année OUVERTURE VERS L’ENTREPRISE</a></h4>
              <p class="description">Développement d’applications d’entreprises, C#, Java
				Développement d’applications mobiles – Android
				JavaScript avancé - Développement Full Stack - Back, Node.JS
				Développement Full Stack - Front, Angular.JS
				DATA Administration de bases de données
				Introduction à la Business Intelligence</p>
            </div>
          </div>
		
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4 class="title"><a href="">4 e année L’ALTERNANCE ET LES CURSUS MÉTIERS</a></h4>
              <p class="description">Méthodes agiles pour la conduite de projet, Scrum
				Gouvernance des Systèmes d’Information, ITIL
				Business English
				Design thinking
				Hackatons and projects</p>
            </div>
          </div>
		</div>
		<br><br><br>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4 class="title"><a href="">5 e année LES SPÉCIALISATIONS</a></h4>
              <p class="description">Méthodes agiles pour la conduite de projet
				Entrepreneurship & IT, Business plan, Project Management
				Master class, mémoire, soutenances et évaluations
				Business english
				Design thinking
				Hackatons and projects</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Les campus Éstiam en France</h2>
          <p>L’INTERNATIONAL AU CŒUR DES ÉTUDES
			POUR 100% DES ÉTUDIANTS.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Estiam Cards 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Estiam Cards 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Estiam Cards 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Estiam Cards 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Estiam Items 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Estiam Items 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Estiam Cards 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Estiam Cards 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Estiam Items 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Estiam Items 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Estiam Items 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Estiam Items 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>L'établissement est habilité à recevoir des personnes en situation de handicap (sous réserve que la situation de santé de la personne soit stabilisée, de l’absence de contre-indications à l’exercice de la profession et dans la limite d’aménagements raisonnables - loi du 11 février 2005).</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="/img/team/team-1.jpg" style="min-height: 265px !important;" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Guillaume Saint-Just</h4>
                  <span>Responsable pédagogique				</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="/img/team/team-2.jpg" style="min-height: 265px !important;" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4> Carole Bavero </h4>
                  <span>Campus Manager</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="/img/team/team-3.jpg" style="min-height: 265px !important;" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Olivier Comes</h4>
                  <span>Président</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="/img/team/team-4.jpg" style="min-height: 265px !important;" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Patrice GOBAUT</h4>
                  <span>Vice-Président</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Une scolarité autofinancée</h2>
          <p>Quel budget pour étudier à Éstiam ?.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Hors alternance</h3>
              <h4><sup>$</sup>1.300 €<span> </span></h4>
              <ul>
                <li>À l’inscription 1.300 €</li>
                <li>puis 10 × 700 €</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Contact Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box featured">
              <h3>En alternance</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>E5 </li>
                <li>MBA</li>
                <li>E4</li>
                <li>E3  </li>
                <li class="na">rien à la charge des familles car payé par l’employeur.</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Contact Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>FRAIS DE DOSSIER</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>D’ADMISSION</li>
                <li>D’EXAMENS</li>
                <li class="na">AUCUN</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Contact	 Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>
			Foire aux questions
			</h2>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Où sont situés les campus ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>        
				Nous avons 6 campus en France : Paris, Bourges, Lyon, Melun, Tarbes et Metz. Nous avons également 3 campus à l'étranger : Genève, Bangalore et Washington DC.
				</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Quand peut-on commencer l’alternance ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
				L’alternance est possible dès la 3e année.				La contrat d’alternance (contrat d’apprentissage ou contrat de professionnalisation) peut être signé à tout moment de l’année scolaire.
							  </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">	
			L’ouverture à l’international? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Oui, il est possible (et même recommandé) de partir en stage à l’étranger. Malheureusement, cela n’est pas encore possible pour l’alternance.
			</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
				Financer ma formation ?
			 <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                En formation initiale (études payées par l'étudiant et sa famille) l’école coûte 9.900€ par an (réduit à 6.800€ si inscrit avant le 15 juillet), quel que soit le niveau, payable en 10 fois sans frais, après acompte.
				<br>
				En alternance (contrat d'apprentissage ou contrat de professionnalisation), c’est l’entreprise qui paye les études de l’étudiant en plus de son salaire.
			</p>
            </div>
          </li>


        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>
			Vous voulez en savoir plus ?</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>31, rue Paul Meurice
					75020 Paris
					France</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>paris@estiam.com<br>admission@estiam.education</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p><a href="tel:+33182837500">+33182837500</a><br></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 mt-4 mt-md-0">
            <form action="/" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Estiam</h3>
            <p>31, rue Paul Meurice <br>
				75020 Paris <br>
				France<br><br>
              <strong>Phone:</strong> +33182837500<br>
              <strong>Email:</strong> admission@estiam.education<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Spa Link for project</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos Programmes</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p> Accompagnement des étudiants vis à vis des entreprises :</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Estiam</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
			Designed by <a href="https://github.com/cnini/projet_plaquette">Groupe 6</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/main.js"></script>

</body>

</html>